<!DOCTYPE html>
{% extends 'order/index.html' %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    {% block content %}
    <section class="menu">


        <h3 class="sub-heading"> our menu </h3>
        <h1 class="heading"> today's speciality </h1>

        <div class="box-container">
            {% for foods in food %}
            <div class="box">
                <div class="image">
                    <img src="{{foods.imageURL}}" alt="">
                    <a href="#" class="fas fa-heart"></a>
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>{{foods.name}}</h3>
                    <p>{{foods.description}}</p>
                    <button data-product={{foods.id}} data-action="add" class="btn add-btn update-cart">add
                        to cart</button>
                    <span class="price">Ksh {{foods.price|floatformat:2}}</span>
                </div>
            </div>

            {% endfor %}
        </div>

    </section>
    {% endblock content %}

</body>

</html>